				@font-face {
					font-family: 'photograph';
					src: url('7117photograph.woff2') format('woff2');
					   font-display: auto;
				}

				.photograph{font-family: 'photograph' !important;}

						@font-face {
					font-family: 'montecarlo';
					src: url('6821montecarlo.woff2') format('woff2');
					   font-display: auto;
				}

				.montecarlo{font-family: 'montecarlo' !important;}

						@font-face {
					font-family: 'saudagar';
					src: url('7851Saudagar.woff2') format('woff2');
					   font-display: auto;
				}

				.saudagar{font-family: 'saudagar' !important;}

						@font-face {
					font-family: 'brittany-signature';
					src: url('3979Brittany-Signature.woff2') format('woff2');
					   font-display: auto;
				}

				.brittany-signature{font-family: 'brittany-signature' !important;}

						@font-face {
					font-family: 'amiri';
					src: url('8907Amiri.woff2') format('woff2');
					   font-display: auto;
				}

				.amiri{font-family: 'amiri' !important;}

						@font-face {
					font-family: 'iskry';
					src: url('2701Iskry.woff2') format('woff2');
					   font-display: auto;
				}

				.iskry{font-family: 'iskry' !important;}

						@font-face {
					font-family: 'qene-g';
					src: url('1598Qene-G.woff2') format('woff2');
					   font-display: auto;
				}

				.qene-g{font-family: 'qene-g' !important;}

						@font-face {
					font-family: 'silent-caroline';
					src: url('1164Silent-Caroline.woff2') format('woff2');
					   font-display: auto;
				}

				.silent-caroline{font-family: 'silent-caroline' !important;}

						@font-face {
					font-family: 'hatolie';
					src: url('4915hatolie.woff2') format('woff2');
					   font-display: auto;
				}

				.hatolie{font-family: 'hatolie' !important;}

						@font-face {
					font-family: 'ivymode-regular';
					src: url('9060IvyMode-Regular.woff2') format('woff2');
					   font-display: auto;
				}

				.ivymode-regular{font-family: 'ivymode-regular' !important;}

						@font-face {
					font-family: 'amiri-bold';
					src: url('5421Amiri-Bold.woff2') format('woff2');
					   font-display: auto;
				}

				.amiri-bold{font-family: 'amiri-bold' !important;}

						@font-face {
					font-family: 'analogue';
					src: url('4709Analogue.woff2') format('woff2');
					   font-display: auto;
				}

				.analogue{font-family: 'analogue' !important;}

						@font-face {
					font-family: 'andrea-bellarosa';
					src: url('2312Andrea-Bellarosa.woff2') format('woff2');
					   font-display: auto;
				}

				.andrea-bellarosa{font-family: 'andrea-bellarosa' !important;}

						@font-face {
					font-family: 'aston-script';
					src: url('5293Aston-Script.woff2') format('woff2');
					   font-display: auto;
				}

				.aston-script{font-family: 'aston-script' !important;}

						@font-face {
					font-family: 'garlicha';
					src: url('8140garlicha.woff2') format('woff2');
					   font-display: auto;
				}

				.garlicha{font-family: 'garlicha' !important;}

						@font-face {
					font-family: 'iskry-regular';
					src: url('2015Iskry-Regular.woff2') format('woff2');
					   font-display: auto;
				}

				.iskry-regular{font-family: 'iskry-regular' !important;}

						@font-face {
					font-family: 'mesheddisplay';
					src: url('1502MeshedDisplay.woff2') format('woff2');
					   font-display: auto;
				}

				.mesheddisplay{font-family: 'mesheddisplay' !important;}

						@font-face {
					font-family: 'shelleyandantebt';
					src: url('7576ShelleyAndanteBT.woff2') format('woff2');
					   font-display: auto;
				}

				.shelleyandantebt{font-family: 'shelleyandantebt' !important;}

						@font-face {
					font-family: 'edwardianscriptitc';
					src: url('6750edwardianscriptitc.woff2') format('woff2');
					   font-display: auto;
				}

				.edwardianscriptitc{font-family: 'edwardianscriptitc' !important;}

						@font-face {
					font-family: 'amsterdam-one';
					src: url('4868Amsterdam-One.woff2') format('woff2');
					   font-display: auto;
				}

				.amsterdam-one{font-family: 'amsterdam-one' !important;}

						@font-face {
					font-family: 'madelyn';
					src: url('2350Madelyn.woff2') format('woff2');
					   font-display: auto;
				}

				.madelyn{font-family: 'madelyn' !important;}

						@font-face {
					font-family: 'brittany';
					src: url('3077Brittany.woff2') format('woff2');
					   font-display: auto;
				}

				.brittany{font-family: 'brittany' !important;}

		